<!DOCTYPE html>
<html lang="en"
      class="layout-navbar-fixed layout-menu-fixed layout-wide"
      dir="ltr"
      data-skin="default"
      data-bs-theme="light"
      data-assets-path="/"
      data-template="vertical-menu-template">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Geneflux LIS | Vuexy</title>
    <meta content="Geneflux Diagnostics Laboratory Information System" name="description" />
    <meta content="Geneflux" name="author" />
    <link rel="icon" type="image/x-icon" href="img/favicon/favicon.ico" />
    <base href="/" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@mdi/font@7.4.47/css/materialdesignicons.min.css" />

    <link rel="stylesheet" href="vendor/fonts/iconify-icons.dist.css" />
    <link rel="stylesheet" href="vendor/libs/node-waves/node-waves.dist.css" />
    <link rel="stylesheet" href="vendor/libs/perfect-scrollbar/perfect-scrollbar.dist.css" />
    <link rel="stylesheet" href="vendor/libs/pickr/pickr-themes.dist.css" />
    <link rel="stylesheet" href="vendor/css/core.dist.css" />
    <link rel="stylesheet" href="css/demo.css" />
    <link rel="stylesheet" href="css/site.dist.css" />
    <link rel="stylesheet" href="vendor/libs/apex-charts/apex-charts.dist.css" />
    <link rel="stylesheet" href="vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.dist.css" />
    <link rel="stylesheet" href="css/app.css?v=3" />

    <script src="vendor/js/helpers.dist.js"></script>
    <script src="vendor/js/template-customizer.dist.js"></script>
    <script src="js/config.dist.js"></script>

    <HeadOutlet @rendermode="Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer" />
</head>
<body>
    <Routes @rendermode="Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer" />

    <script src="vendor/libs/jquery/jquery.dist.js"></script>
    <script src="vendor/libs/moment/moment.dist.js"></script>
    <script src="vendor/libs/popper/popper.dist.js"></script>
    <script src="vendor/js/bootstrap.dist.js"></script>
    <script src="vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.dist.js"></script>
    <script src="vendor/libs/node-waves/node-waves.dist.js"></script>
    <script src="vendor/libs/@@algolia/autocomplete-js.dist.js"></script>
    <script src="vendor/libs/pickr/pickr.dist.js"></script>
    <script src="vendor/libs/perfect-scrollbar/perfect-scrollbar.dist.js"></script>
    <script src="vendor/libs/hammer/hammer.dist.js"></script>
    <script src="vendor/libs/i18n/i18n.dist.js"></script>
    <script src="vendor/js/menu.dist.js"></script>
    <script src="js/site.dist.js"></script>
    <script src="js/main.dist.js"></script>
    <script src="vendor/libs/apex-charts/apexcharts.dist.js"></script>
    <script src="js/app.js?v=5"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
